extends layout

block content
    //image//
    div.text-center
        img.headshot(src='https://avatars0.githubusercontent.com/u/29339287?s=460&v=4')

    p.text-center 
        Hi I am Pradhumna Pancholi. Currently enrolled in Georgian college. My hobbies are surfing, mountain-climbing and reading.   