extends layout

block content
    //Pradhumna Pancholi, 200382578//
    //A view layer/form to contact author//
    form
        div.form-group
            label Email address
            input.form-control
        div.form-group
            label Name
            input.form-control
        div.form-group
            label(for="") Message
            input.form-control   
        button.text-center Submit         
