extends layout

block content
    //form//
    form.text-center(action="")
        input(type="text", placeholder="name")
        input(type="text", placeholder="email")
        input(type="textarea", placeholder="message")
        button Submit