extends layout

block content
 
    //header corousal//
    div.carousel-slide
        div.carousel-inner
            div.carousel-item-active
            img.header-image(src='https://images.unsplash.com/photo-1542831371-d531d36971e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIxMTIzfQ&auto=format&fit=crop&w=750&q=80')
            //content//
            div.carousel-caption 
                h1.text-center Pradhumna Pancholi 
                p.text-center Developer/Designer
    div