extends layout

block content
    div.card 
        .card-body
            .card-title Youtube Clone
                .card-body Source: https://github.com/PradhumnaPancholi/MyReactApp 

    div.card 
        .card-body
            .card-title Weather App
                .card-body Source: https://github.com/PradhumnaPancholi/WeatherApp

    div.card 
        .card-body
            .card-title Weather App
                .card-body Source: https://github.com/PradhumnaPancholi/YelpCamp