extends layout

block content
    //Pradhumna Pancholi, 200382578//
    //A file to render content for my/author's earlier projects //
    div.card 
        .card-body
            .card-title Youtube Clone
                .card-body Source: https://github.com/PradhumnaPancholi/MyReactApp
                .card-body A Youtube clone made with React.JS and Youtube API.

    div.card 
        .card-body
            .card-title Weather App
                .card-body Source: https://github.com/PradhumnaPancholi/WeatherApp
                .card-body A weather app built with React, redux and OpenWeather API.

    div.card 
        .card-body
            .card-title YelCamp
                .card-body Source: https://github.com/PradhumnaPancholi/YelpCamp
                .card-body A full stack Yelp clone bult with Node, Express, and MongoDB. 