extends layout

block content
    //Pradhumna Pancholi, 200382578//
    //a file render content for available services//
    div.container.services
        div.row
            div.col-md-4
                div.card 
                    .card-body
                        .card-title.text-center Web development
                            .card-body.text-center Building robust web applications with a perfect balance of code and design.

            div.col-md-4
                div.card 
                    .card-body
                        .card-title.text-center Social Media Management
                            .card-body.text-center Can provide robust Social Media Maketting analyzing KPI(s) to help building better audience.                                

            div.col-md-4
                div.card 
                    .card-body
                        .card-title.text-center Content Creation
                            .card-body.text-center Ability to create SEO optimized visual and written content to provide yu better ranking.
                