extends layout

block content
    ul
        li HTML
        li CSS
        li JS
        li React.js
        li Node.js
        li SQL
        li MongoDB
        li C Sharp
        li Social Media Marketting
        li Web Design