body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  height: 30vh;
}

/*for image in about me*/
.headshot {
  height: 300px;
  margin: 5%;
}

form {
  margin: 15%;
}
